.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store


task1/models/
task2/models/


*.npz
*.log


*.aux
*.bbl
*.blg
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz


acl-style-files/
paper/acl.sty
paper/acl_natbib.bst
paper/main.pdf

past-research/





